@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}
 <main>
        <section id="slider" >
            <div class="container">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">

                        @foreach (var slider in Model.Sliders)
                    {
                         <div class="swiper-slide">
                        <img src="~/assets/img/slider/@slider.Image" />
                      </div>
                    }
                     
                    </div>
                  </div>
            </div>



        </section>
        <section id="service-icons">
            <div class="container theme-container">
                <div class="row">
                    @foreach (var item in Model.ServiceIcons.Take(4))
                {
                    <div class="col-sm-6 col-md-3 col-lg-3 mb-3">
                        <div class="column-inner">
                            <div class="wp-wrapper">
                                <div class="service-list service-1 style-1">
                                    <div class="service-content d-flex align-items-center justify-content-center">
                                        <div class="icon">
                                            <i class="fa-solid @item.Icon fs-3"></i>
                                        </div>

                                        <div class="content">
                                            <div class="service-title ">
                                                @item.Title
                                            </div>
                                            <div class="service-other-text">
                                                @item.Description
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                    
                  
                </div>
            </div>
        </section>
        <section id="most-popular">
            <div class="container theme-container">
                <div class="row">
                    @foreach (var category in Model.Categories.Take(2))
                {
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="column-inner">
                            <div class="wpb-wrapper">
                                <div class="cms-banner-item style-1">
                                    <div class="cms-banner-inner">
                                        <div class="cms-banner-img">
                                            <a href="" target="">
                                                <img src="~/assets/img/@category.Image" alt="">
                                            </a>
                                        </div>
                                        <span class="static-wrapper">

                                            <span class="static-inner">
                                                <span class="text1 static-text">@category.Title</span>
                                                <span class="text2 static-text">@category.Name</span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                  
                   
                </div>
            </div>
        </section>
        <section id="special-category">
            <div class="container">
                <h3>Special Category</h3>
                <div class="line my-3"></div>
                <div class="row">
                    @foreach (var item in Model.Categories.Skip(2).Take(3))
                {
                    <div class="col-sm-12 col-md-6 col-lg-4 ">
                        <div class="card-item">
                            <div class="img">
                                <img src="~/assets/img/category/@item.Image" alt="">
                            </div>
                            <div class="card-desc">
                                <div class="text-content name">
                                    <span>@item.Name</span>
                                </div>
                                <div class="text-content shop">
                                    <a asp-controller="Shop" asp-action="Index" asp-route-id="@item.Id">
                                        <span>Shop Now</span>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                }
                   
                  
                </div>
            </div>
        </section>
        <section id="our-products">
            <div class="container">
                <h3 class="text-center">Our Products</h3>
                <div class="linear"></div>
                <div class="tab-menu">
                    <ul class="tab-list">
                        <li class="tab-item">
                            <a class="tab-title active-menu" data-id="1">Featured</a>
                        </li>
                        <li class="tab-item">
                            <a class="tab-title" data-id="2">New Arrival</a>
                        </li>
                        <li class="tab-item">
                            <a class="tab-title" data-id="3">Best Sellers</a>
                        </li>
                    </ul>
                </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="swiper swiper-carousel item" data-id="1">
                                <div class="swiper-wrapper">
                                    @foreach (var item in Model.Products.OrderByDescending(m=>m.Rating.RatingCount))
                            {
                                <div data-aos="fade-right" class="swiper-slide">
                                    <div class="card-carousel">
                                        <div class="action-buttons">
                                            <img class="w-100 main" src="~/assets/img/product/@item.ProductImages.Where(m=>m.IsMain).FirstOrDefault().Image" alt="">
                                            <img class="w-100 hover d-none" src="~/assets/img/product/@item.ProductImages.Where(m=>m.IsHover).FirstOrDefault().Image" alt="">
                                        </div>
                                        <div class="product-detail">

                                            <div class="content stars">
                                                @for (int i = 0; i < @item.Rating.RatingCount; i++)
                                                {
                                                    <i class="fa-solid fa-star orange"></i>
                                                }
                                                @for (int i = 0; i < (5 - @item.Rating.RatingCount); i++)
                                                {
                                                    <i class="fa-solid fa-star"></i>
                                                }
                                            </div>
                                            <div class="content title">
                                                <span>@item.Title</span>
                                            </div>
                                            <div class="content price">
                                                <span class="actual-price">£@item.Price</span>
                                            </div>

                                        </div>

                                        <div class="product-button-outer">

                                            <a href="wishlist.html">
                                                <i class="fa-solid fa-heart"></i>
                                            </a>

                                            <a href="cart.html">
                                                <i class="fa-solid fa-cart-arrow-down"></i>
                                            </a>

                                            <a asp-controller="ProductDetail" asp-action="Index">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>

                                        </div>
                                    </div>


                                </div>
                            }
                                 
                                 

                                </div>
                                <div class="swiper-button-next next-prev"></div>
                                  <div class="swiper-button-prev next-prev"></div>

                              </div>
                              <div class="swiper swiper-carousel item d-none" data-id="2">
                                <div class="swiper-wrapper">
                                    @foreach (var item in Model.Products.OrderByDescending(m=>m.CreateDate))
                            {
                                <div data-aos="fade-right" class="swiper-slide">
                                    <div class="card-carousel">
                                        <div class="action-buttons">
                                            <img class="w-100 main" src="~/assets/img/product/@item.ProductImages.Where(m=>m.IsMain).FirstOrDefault().Image" alt="">
                                            <img class="w-100 hover d-none" src="~/assets/img/product/@item.ProductImages.Where(m=>m.IsHover).FirstOrDefault().Image" alt="">
                                        </div>
                                        <div class="product-detail">

                                            <div class="content stars">
                                                @for (int i = 0; i < @item.Rating.RatingCount; i++)
                                                {
                                                    <i class="fa-solid fa-star orange"></i>
                                                }
                                                @for (int i = 0; i < (5 - @item.Rating.RatingCount); i++)
                                                {
                                                    <i class="fa-solid fa-star"></i>
                                                }
                                            </div>
                                            <div class="content title">
                                                <span>@item.Title</span>
                                            </div>
                                            <div class="content price">
                                                <span class="actual-price">£@item.Price</span>
                                            </div>

                                        </div>

                                        <div class="product-button-outer">

                                            <a href="wishlist.html">
                                                <i class="fa-solid fa-heart"></i>
                                            </a>

                                            <a href="cart.html">
                                                <i class="fa-solid fa-cart-arrow-down"></i>
                                            </a>

                                            <a asp-controller="ProductDetail" asp-action="Index">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>

                                        </div>
                                    </div>


                                </div>
                            }      
                                  
                               

                                </div>
                                <div class="swiper-button-next next-prev"></div>
                                  <div class="swiper-button-prev next-prev"></div>

                              </div>
                              <div class="swiper swiper-carousel item d-none" data-id="3">
                                <div class="swiper-wrapper">
                                    @foreach (var item in Model.Products.OrderByDescending(m=>m.Discount.Percent))
                            {
                                <div data-aos="fade-right" class="swiper-slide">
                                    <div class="card-carousel">
                                        <div class="action-buttons">
                                            <img class="w-100 main" src="~/assets/img/product/@item.ProductImages.Where(m=>m.IsMain).FirstOrDefault().Image" alt="">
                                            <img class="w-100 hover d-none" src="~/assets/img/product/@item.ProductImages.Where(m=>m.IsHover).FirstOrDefault().Image" alt="">
                                        </div>
                                        @if (@item.Discount.Percent == 0)
                                        {
                                            <span class="percent d-none">-@item.Discount.Percent%</span>
                                        }
                                        else
                                        {
                                             <span class="percent">-@item.Discount.Percent%</span>
                                        }
                                       
                                        <div class="product-detail">

                                            <div class="content stars">
                                                 @for (int i = 0; i < @item.Rating.RatingCount; i++)
                                                {
                                                    <i class="fa-solid fa-star orange"></i>
                                                }
                                                @for (int i = 0; i < (5 - @item.Rating.RatingCount); i++)
                                                {
                                                    <i class="fa-solid fa-star"></i>
                                                }
                                            </div>
                                            <div class="content title">
                                                <span>@item.Title</span>
                                            </div>
                                            <div class=" content price">
                                                @if (item.Discount.Percent == 0)
                                                {
                                                      <span class="discount d-none">£@item.Price</span>
                                                    <span class="actual-price ">£@item.Price</span>
                                                }
                                                else
                                                {
                                                     <span class="discount">£@item.Price</span>
                                              
                                                    <span class="actual-price">£@(item.Price-((item.Price*item.Discount.Percent)/100))</span>
                                                }
                                               
                                                
                                               
                                            </div>

                                        </div>

                                        <div class="product-button-outer">

                                            <a href="wishlist.html">
                                                <i class="fa-solid fa-heart"></i>
                                            </a>

                                            <a href="cart.html">
                                                <i class="fa-solid fa-cart-arrow-down"></i>
                                            </a>

                                            <a href="product-detail.html">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>

                                        </div>
                                    </div>


                                </div>
                            }
                                

                                </div>
                                <div class="swiper-button-next next-prev"></div>
                                  <div class="swiper-button-prev next-prev"></div>

                              </div>

                        </div>






                    </div>

            </div>
        </section>
        <section id="testmonials">
            <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="custom-testmonial">

                                <div class="swiper testmonial">
                                    <div class="swiper-wrapper">
                                        @foreach (var testimonial in Model.Testimonials)
                                {
                                    <div class="swiper-slide">
                                        <div class="testmonial-inner">
                                            <div class="img">
                                                <img src="~/assets/img/testmonial/@testimonial.Image" alt="">
                                            </div>
                                            <div class="testmonial-text">
                                                <div class="testimonial-title">
                                                    <span>@testimonial.Name</span>
                                                </div>
                                                <div class="testimonial-designation">
                                                    <span>(@testimonial.Position)</span>
                                                </div>
                                            </div>
                                            <div class="testimonial-wrapper">
                                                <div class="testimonial-content">
                                                    <p>@testimonial.Description</p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                }
                                    
                                  

                                    </div>
                                    <div class="swiper-pagination dots">

                                    </div>
                                  </div>

                            </div>
                        </div>
                    </div>    
            </div>
        </section>
        <section id="deal-of-the-day">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="title-center">
                            <h3>Deal of the Day</h3>
                        </div>

                        <div class="count-down">
                            <div class="countbox hastime" data-time="2024-01-01">
                                <span class="timebox day">
                                    <span class="timebox-inner">
                                    <strong>848</strong>days
                                    </span>
                                </span><span class="timebox hour">
                                    <span class="timebox-inner">
                                        <strong>03</strong>hours</span>
                                    </span><span class="timebox minute">
                                        <span class="timebox-inner"><strong>30</strong>mins</span>
                                    </span><span class="timebox second">
                                        <span class="timebox-inner"><strong>21</strong>secs</span>
                                    </span>
                                </div>
                            </div>



                    </div>
                    <div class="swiper dealOfTheDay">
                        <div class="swiper-wrapper">
                        @foreach (var item in Model.Products.OrderByDescending(m => m.Discount.Percent))
                        {
                            <div data-aos="fade-right" class="swiper-slide">
                                <div class="card-carousel">
                                    <div class="action-buttons">
                                        <img class="w-100 main" src="~/assets/img/product/@item.ProductImages.Where(m=>m.IsMain).FirstOrDefault().Image" alt="">
                                        <img class="w-100 hover d-none" src="~/assets/img/product/@item.ProductImages.Where(m=>m.IsHover).FirstOrDefault().Image" alt="">
                                    </div>
                                    @if (@item.Discount.Percent == 0)
                                    {
                                        <span class="percent d-none">-@item.Discount.Percent%</span>
                                    }
                                    else
                                    {
                                        <span class="percent">-@item.Discount.Percent%</span>
                                    }

                                    <div class="product-detail">

                                        <div class="content stars">
                                            @for (int i = 0; i < @item.Rating.RatingCount; i++)
                                            {
                                                <i class="fa-solid fa-star orange"></i>
                                            }
                                            @for (int i = 0; i < (5 - @item.Rating.RatingCount); i++)
                                            {
                                                <i class="fa-solid fa-star"></i>
                                            }
                                        </div>
                                        <div class="content title">
                                            <span>@item.Title</span>
                                        </div>
                                        <div class=" content price">
                                            @if (item.Discount.Percent == 0)
                                            {
                                                <span class="discount d-none">£@item.Price</span>
                                                <span class="actual-price ">£@item.Price</span>
                                            }
                                            else
                                            {
                                                <span class="discount">£@item.Price</span>

                                                <span class="actual-price">£@(item.Price - ((item.Price * item.Discount.Percent) / 100))</span>
                                            }



                                        </div>

                                    </div>

                                    <div class="product-button-outer">

                                        <a href="wishlist.html">
                                            <i class="fa-solid fa-heart"></i>
                                        </a>

                                        <a href="cart.html">
                                            <i class="fa-solid fa-cart-arrow-down"></i>
                                        </a>

                                        <a href="product-detail.html">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>

                                    </div>
                                </div>


                            </div>
                        }

                        </div>
                        <div class="swiper-button-next next-prev"></div>
                          <div class="swiper-button-prev next-prev"></div>

                      </div>
                </div>


            </div>
        </section>

        <section id="blog">
            <div class="container">
                <div class="row">
                        <div class="col-sm-12 col-md-12">
                                <div class="title-center">
                                    <h3>New Game Blogs</h3>
                                </div>
                        </div>


                        <div class="swiper blog">
                            <div class="swiper-wrapper">
                                @foreach (var blog in Model.Blogs)
                        {
                             <div data-aos="fade-right" class="swiper-slide">
                                <div class="card-carousel">
                                    <div class="action-buttons">
                                        <img class="w-100 main" src="~/assets/img/blog/@blog.Image" alt="">

                                    </div>
                                    <div class="post-content-inner">
                                        <div class="post-detail">
                                            <div class="blog-meta">
                                                <div class="show-date">
                                                    <i class="fa @blog.Icon"></i>
                                                    <span>@blog.CreateDate.ToString("MM-dd-yyyy")</span>
                                                </div>
                                            </div>
                                            <div class="blog-title">
                                                <a asp-controller="Blog" asp-action="Index" asp-route-id="@blog.Id"><span>@blog.Title</span></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                              </div>
                        }
                             

                            </div>
                            <div class="swiper-button-next next-prev"></div>
                              <div class="swiper-button-prev next-prev"></div>

                          </div>

                          <div class="col-12 ">
                              <div class="all-blog">
                                <div class="view-all-blogs">
                                    <a asp-controller="Blog" asp-action="Index">
                                        <i class="fa fa-eye"></i>
                                        <span> View All Blogs</span>
                                    </a>
                                </div>

                              </div> 

                          </div>
                </div>
            </div>

        </section>

        <section id="brand">
            <div class="container">
                <div class="row">
                    <div class="swiper brand">
                        <div class="swiper-wrapper">
                            @foreach (var brand in Model.Brands)
                        {
                            <div class="swiper-slide ">
                                <div class="card-carousel">

                                    <img class="w-100 main" src="~/assets/img/brand/@brand.Image" alt="">


                                </div>


                            </div>
                        }
                         


                        </div>
                        <div class="swiper-button-next next-prev"></div>
                          <div class="swiper-button-prev next-prev"></div>

                      </div>
                </div>
            </div>
        </section>

    </main>
