@model HomeVM
@{
    ViewData["Title"] = "Home Page";
    var fc = false;
}


        
<style>
    .checked {
        color: red !important;
    }
       @@media (max-width: 575.98px) {
  #service-icons .service-1, #service-icons .service-2, #service-icons .service-3, #service-icons .service-4 {
    margin-top: 20px !important;
  }

    #most-popular .theme-container .column-inner .wpb-wrapper .cms-banner-item .cms-banner-inner .static-wrapper .static-inner .text1.static-text {
        display: inline-block;
        width: auto;
        font-size: 25px !important;
        line-height: 19px !important;
        letter-spacing: 0;
        font-weight: 700;
        color: #000;
        background: #f9aa01;
        text-transform: initial;
        margin-bottom: 25px;
        padding: 0px 2px;
        position: relative;
        font-style: italic;
        margin-left: 18px;
    }

    #most-popular .theme-container .column-inner .wpb-wrapper .cms-banner-item .cms-banner-inner .static-wrapper .static-inner .text2.static-text {
        display: block;
        font-size: 20px !important;
        line-height: 20px !important;
        letter-spacing: 0;
        font-weight: 600;
        color: #fff;
        text-transform: initial;
        margin: 0px;
    }

    #our-products .tab-menu .tab-list .tab-item {
        display: block !important;
        position: relative;
        list-style-type: none;
        padding: 10px 40px  !important;
        margin: 0 auto !important;
        width:100%;
    }

        #our-products .tab-menu .tab-list .tab-item::after {
            content: "";
            border-right: none !important;
            height: none !important;
            position: absolute;
            right: 0;
            top: 0;
        }
        #our-products .tab-menu .tab-list .tab-item .tab-title {
            color: #ffffff;
            text-decoration: none;
            display: block;
            text-transform: capitalize;
            float: left;
            font-weight: 600;
            font-size: 15px;
            line-height: 15px !important;
            padding: 0px;
            margin: 0px;
            text-align: center;
            position: relative;
            letter-spacing: 0.6px;
            border: 0;
            cursor: pointer;
            transition: all 0.5s ease 0s;
        }

    #our-products .tab-menu .tab-list {
        padding: 0 !important;
        display: inline-block;
        float: none;
        width: auto;
        padding-bottom: 0px;
        border: none !important;
        margin-bottom: 10px !important;
    }

    #our-products .swiper .swiper-slide .card-carousel .percent {
        width: auto;
        text-align: center;
        margin: 0;
        display: inline-block;
        position: absolute;
        left: 25px;
        top: 15px;
        z-index: 1;
        color: #000000;
        background: #f9aa01;
        font-size: 8px !important;
        line-height: 15px !important;
        font-weight: 500;
        letter-spacing: 0.3px;
        padding: 0px;
        transition: all 500ms ease 0s;
    }

        #our-products .swiper .swiper-slide .card-carousel .percent::before {
            content: "";
            border-right: 0px solid #f9aa01;
            border-bottom: 20px solid #f9aa01 !important;
            border-left: 12px solid transparent !important;
            border-top: 12px solid transparent !important;
            position: absolute;
            left: -12px;
            top: -12px !important;
        }

        #our-products .swiper .swiper-slide .card-carousel .percent::after {
            content: "";
            border-right: 12px solid transparent !important;
            border-bottom: 12px solid transparent !important;
            border-left: 0px solid #f9aa01;
            border-top: 10px solid #f9aa01 !important;
            position: absolute;
            right: -12px;
            top: 0px !important;
        }

    #our-products .swiper .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width:50% !important;
        margin-right:15px !important;
    }

    #testmonials .custom-testmonial .swiper .swiper-slide .testmonial-inner .img::after {
        content: "";
        background: #f9aa01 url("../../../../assets/img/testmonial/quote.png") no-repeat scroll center 8px;
        width: 10px !important;
        height: 10px !important;
        position: absolute;
        top: 5px;
        left: 7px !important;
        display: inline-block;
        margin-left: -14px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
    }

    #testmonials .custom-testmonial .swiper .swiper-slide .testmonial-inner .testmonial-text .testimonial-designation span {
        color: #f9aa01;
        font-size:10px;
    }
    #testmonials .custom-testmonial .swiper .swiper-slide .testmonial-inner .testmonial-text .testimonial-title span {
        color: #ffffff;
        font-size: 10px;
    }

    #testmonials .custom-testmonial .swiper .swiper-slide .testimonial-wrapper .testimonial-content p{
      font-size:10px;
    }

    #testmonials .custom-testmonial .swiper .swiper-slide .testmonial-inner .img {
        margin: 0 auto;
        width: 20% !important;
        height: 20% !important;
        border-radius: 50%;
        padding: 2px;
        background-color: #f9aa01;
        position: relative;
    }

    #deal-of-the-day .count-down {
        width: 100%;
        position: relative;
        padding: 10px 0px;
        font-size: 12px;
        clear: both;
        text-align: center;
    }

        #deal-of-the-day .count-down .countbox.hastime {
            display:flex !important;
            border:none !important;
            margin: 20px 0px 35px;
            font-family: "Oxanium", cursive;
            vertical-align:top;
        }

            #deal-of-the-day .count-down .countbox.hastime .timebox {
                width: 50% !important;
                color: #ffffff;
                display:block !important;
                position: relative;
                border-right: none !important;
                padding: 20px 10px;
                font-size: 20px;
                font-weight: 400;
                letter-spacing: 0.6px;
                text-transform: capitalize;
                display: inline-block;
                text-align: center;
                line-height: 20px;
            }

                #deal-of-the-day .count-down .countbox.hastime .timebox strong {
                    display:block;
                }

    #deal-of-the-day .swiper .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width:50% !important;
        margin-right:15px!important;
    }

}

 
</style>
 <main>
        <section id="slider" >
            <div class="container">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">

                        @foreach (var slider in Model.Sliders.Where(m=>m.Status))
                    {
                       
                         <div class="swiper-slide">
                            <img src="~/assets/img/slider/@slider.Image" />
                        </div>
                        
                    }
                     
                    </div>
                  </div>
            </div>



        </section>
        <section id="service-icons">
            <div class="container theme-container">
                <div class="row">
                    @foreach (var item in Model.ServiceIcons.Take(4))
                {
                    <div class="col-sm-6 col-md-3 col-lg-3 mb-3">
                        <div class="column-inner">
                            <div class="wp-wrapper">
                                <div class="service-list service-1 style-1">
                                    <div class="service-content d-flex align-items-center justify-content-center">
                                        <div class="icon">
                                            <i class="fa-solid @item.Icon fs-3"></i>
                                        </div>

                                        <div class="content">
                                            <div class="service-title ">
                                                @item.Title
                                            </div>
                                            <div class="service-other-text">
                                                @item.Description
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                    
                  
                </div>
            </div>
        </section>
        <section id="most-popular">
            <div class="container theme-container">
                <div class="row">
                    @foreach (var category in Model.Categories.Take(2))
                {
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="column-inner">
                            <div class="wpb-wrapper">
                                <div class="cms-banner-item style-1">
                                    <div class="cms-banner-inner">
                                        <div class="cms-banner-img">
                                            <a href="" target="">
                                                <img src="~/assets/img/category/@category.Image" alt="">
                                            </a>
                                        </div>
                                        <span class="static-wrapper">

                                            <span class="static-inner">
                                                <span class="text1 static-text">@category.Title</span>
                                                <span class="text2 static-text">@category.Name</span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                  
                   
                </div>
            </div>
        </section>
        <section id="special-category">
            <div class="container">
                <h3>Special Category</h3>
                <div class="line my-3"></div>
                <div class="row">
                    @foreach (var item in Model.Categories.Skip(2))
                {
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                        <div class="card-item">
                            <div class="img">
                                <img src="~/assets/img/category/@item.Image" alt="">
                            </div>
                            <div class="card-desc" style="height:20%;">
                                <div class="text-content name">
                                    <span style="font-size:15px;">@item.Name</span>
                                </div>
                                <div class="text-content shop">
                                    <a asp-controller="Shop" asp-action="Index" asp-route-id="@item.Id">
                                        <span  style="font-size:15px;">Shop Now</span>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                }
                   
                  
                </div>
            </div>
        </section>
        <section id="our-products">
            <div class="container">
                <h3 class="text-center">Our Products</h3>
                <div class="linear"></div>
                <div class="tab-menu">
                    <ul class="tab-list">
                        <li class="tab-item">
                            <a class="tab-title active-menu" data-id="1">Featured</a>
                        </li>
                        <li class="tab-item">
                            <a class="tab-title" data-id="2">New Arrival</a>
                        </li>
                        <li class="tab-item">
                            <a class="tab-title" data-id="3">Best Sellers</a>
                        </li>
                    </ul>
                </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="swiper swiper-carousel item" data-id="1">
                                <div class="swiper-wrapper">
                                    @foreach (var item in Model.Products.OrderByDescending(m=>m.Rating.RatingCount))
                            {
                                <div data-aos="fade-right" class="swiper-slide">
                                    <div class="card-carousel">
                                        <div class="action-buttons">
                                            <img class="w-100 main" src="~/assets/img/product/@item.ProductImages.FirstOrDefault(m=>m.IsMain).Image" alt="">
                                            <img class="w-100 hover d-none" src="~/assets/img/product/@item.ProductImages.FirstOrDefault(m=>m.IsHover)?.Image" alt="">
                                        </div>
                                        <div class="product-detail">

                                            <div class="content stars">
                                                @for (int i = 0; i < @item.Rating.RatingCount; i++)
                                                {
                                                    <i class="fa-solid fa-star orange"></i>
                                                }
                                                @for (int i = 0; i < (5 - @item.Rating.RatingCount); i++)
                                                {
                                                    <i class="fa-solid fa-star"></i>
                                                }
                                            </div>
                                            <div class="content title">
                                                <span>@item.Title</span>
                                            </div>
                                            <div class="content price">
                                                <span class="actual-price">£@item.Price</span>
                                            </div>

                                        </div>

                                        <div class="product-button-outer">
                                            @if (ViewBag.Cookie != null)
                                            {
                                                @foreach (var itemCookie in ViewBag.Cookie)
                                                {
                                                    @if (itemCookie.ProductId == item.Id)
                                                    {
                                                        fc = true;
                                                    }

                                                }

                                            }
                                            <a class="add-to-wish @((fc)?"checked":"") @(fc = false)" data-id="@item.Id" style="cursor:pointer;">
                                                <i class="fa-solid fa-heart"></i>
                                            </a>

                                            <a id="add-to-cart-rating" data-id="@item.Id" style="cursor:pointer">
                                                <i class="fa-solid fa-cart-arrow-down"></i>
                                            </a>

                                            <a asp-controller="ProductDetail" asp-action="Index" asp-route-id="@item.Id">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>

                                        </div>
                                    </div>


                                </div>
                            }
                                 
                                 

                                </div>
                                <div class="swiper-button-next next-prev"></div>
                                  <div class="swiper-button-prev next-prev"></div>

                              </div>
                              <div class="swiper swiper-carousel item d-none" data-id="2">
                                <div class="swiper-wrapper">
                                    @foreach (var item in Model.Products.OrderByDescending(m=>m.CreateDate))
                            {
                                <div data-aos="fade-right" class="swiper-slide">
                                    <div class="card-carousel">
                                        <div class="action-buttons">
                                            <img class="w-100 main" src="~/assets/img/product/@item.ProductImages.FirstOrDefault(m=>m.IsMain).Image" alt="">
                                            <img class="w-100 hover d-none" src="~/assets/img/product/@item.ProductImages.FirstOrDefault(m=>m.IsHover)?.Image" alt="">
                                        </div>
                                        <div class="product-detail">

                                            <div class="content stars">
                                                @for (int i = 0; i < @item.Rating.RatingCount; i++)
                                                {
                                                    <i class="fa-solid fa-star orange"></i>
                                                }
                                                @for (int i = 0; i < (5 - @item.Rating.RatingCount); i++)
                                                {
                                                    <i class="fa-solid fa-star"></i>
                                                }
                                            </div>
                                            <div class="content title">
                                                <span>@item.Title</span>
                                            </div>
                                            <div class="content price">
                                                <span class="actual-price">£@item.Price</span>
                                            </div>

                                        </div>

                                        <div class="product-button-outer">
                                             @if (ViewBag.Cookie != null)
                                            {
                                                @foreach (var itemCookie in ViewBag.Cookie)
                                                {
                                                    @if (itemCookie.ProductId == item.Id)
                                                    {
                                                        fc = true;
                                                    }

                                                }

                                            }
                                            <a class="add-to-wish @((fc)?"checked":"") @(fc = false)" data-id="@item.Id" style="cursor:pointer;">
                                                <i class="fa-solid fa-heart"></i>
                                            </a>

                                            <a id="add-to-cart-date" data-id="@item.Id" style="cursor:pointer">
                                                <i class="fa-solid fa-cart-arrow-down"></i>
                                            </a>

                                            <a asp-controller="ProductDetail" asp-action="Index" asp-route-id="@item.Id">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>

                                        </div>
                                    </div>


                                </div>
                            }      
                                  
                               

                                </div>
                                <div class="swiper-button-next next-prev"></div>
                                  <div class="swiper-button-prev next-prev"></div>

                              </div>
                              <div class="swiper swiper-carousel item d-none" data-id="3">
                                <div class="swiper-wrapper">
                                    @foreach (var item in Model.Products.OrderByDescending(m=>m.Discount.Percent))
                            {
                                <div data-aos="fade-right" class="swiper-slide">
                                    <div class="card-carousel">
                                        <div class="action-buttons">
                                            <img class="w-100 main" src="~/assets/img/product/@item.ProductImages.FirstOrDefault(m=>m.IsMain).Image" alt="">
                                            <img class="w-100 hover d-none" src="~/assets/img/product/@item.ProductImages.FirstOrDefault(m=>m.IsHover)?.Image" alt="">
                                        </div>
                                        @if (@item.Discount.Percent == 0)
                                        {
                                            <span class="percent d-none">-@item.Discount.Percent%</span>
                                        }
                                        else
                                        {
                                             <span class="percent">-@item.Discount.Percent%</span>
                                        }
                                       
                                        <div class="product-detail">

                                            <div class="content stars">
                                                 @for (int i = 0; i < @item.Rating.RatingCount; i++)
                                                {
                                                    <i class="fa-solid fa-star orange"></i>
                                                }
                                                @for (int i = 0; i < (5 - @item.Rating.RatingCount); i++)
                                                {
                                                    <i class="fa-solid fa-star"></i>
                                                }
                                            </div>
                                            <div class="content title">
                                                <span>@item.Title</span>
                                            </div>
                                            <div class=" content price">
                                                @if (item.Discount.Percent == 0)
                                                {
                                                      <span class="discount d-none">£@item.Price</span>
                                                    <span class="actual-price ">£@item.Price</span>
                                                }
                                                else
                                                {
                                                     <span class="discount">£@item.Price</span>
                                              
                                                    <span class="actual-price">£@(item.Price-((item.Price*item.Discount.Percent)/100))</span>
                                                }
                                               
                                                
                                               
                                            </div>

                                        </div>

                                        <div class="product-button-outer">
                                            @if (ViewBag.Cookie != null)
                                            {
                                                @foreach (var itemCookie in ViewBag.Cookie)
                                                {
                                                    @if (itemCookie.ProductId == item.Id)
                                                    {
                                                        fc = true;
                                                    }

                                                }

                                            }
                                            <a class="add-to-wish @((fc)?"checked":"") @(fc = false)" data-id="@item.Id" style="cursor:pointer;">
                                                <i class="fa-solid fa-heart"></i>
                                            </a>

                                            <a id="add-to-cart-discount" data-id="@item.Id" style="cursor:pointer">
                                                <i class="fa-solid fa-cart-arrow-down"></i>
                                            </a>

                                            <a asp-controller="ProductDetail" asp-action="Index" asp-route-id="@item.Id">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>

                                        </div>
                                    </div>


                                </div>
                            }
                                

                                </div>
                                <div class="swiper-button-next next-prev"></div>
                                  <div class="swiper-button-prev next-prev"></div>

                              </div>

                        </div>






                    </div>

            </div>
        </section>
        <section id="testmonials">
            <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="custom-testmonial">

                                <div class="swiper testmonial">
                                    <div class="swiper-wrapper">
                                        @foreach (var testimonial in Model.Testimonials)
                                {
                                    <div class="swiper-slide">
                                        <div class="testmonial-inner">
                                            <div class="img">
                                                <img src="~/assets/img/testmonial/@testimonial.Image" alt="">
                                            </div>
                                            <div class="testmonial-text">
                                                <div class="testimonial-title">
                                                    <span>@testimonial.Name</span>
                                                </div>
                                                <div class="testimonial-designation">
                                                    <span>(@testimonial.Position)</span>
                                                </div>
                                            </div>
                                            <div class="testimonial-wrapper">
                                                <div class="testimonial-content">
                                                    <p>@testimonial.Description</p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                }
                                    
                                  

                                    </div>
                                    <div class="swiper-pagination dots">

                                    </div>
                                  </div>

                            </div>
                        </div>
                    </div>    
            </div>
        </section>
        <section id="deal-of-the-day">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="title-center">
                            <h3>Deal of the Day</h3>
                        </div>

                        <div class="count-down">
                            <div class="countbox hastime" data-time="2024-01-01">
                                <span class="timebox day">
                                    <span class="timebox-inner">
                                    <strong>848</strong>days
                                    </span>
                                </span><span class="timebox hour">
                                    <span class="timebox-inner">
                                        <strong>03</strong>hours</span>
                                    </span><span class="timebox minute">
                                        <span class="timebox-inner"><strong>30</strong>mins</span>
                                    </span><span class="timebox second">
                                        <span class="timebox-inner"><strong>21</strong>secs</span>
                                    </span>
                                </div>
                            </div>



                    </div>
                    <div class="swiper dealOfTheDay">
                        <div class="swiper-wrapper">
                        @foreach (var item in Model.Products.OrderByDescending(m => m.Discount.Percent))
                        {
                            <div data-aos="fade-right" class="swiper-slide">
                                <div class="card-carousel">
                                    <div class="action-buttons">
                                        <img class="w-100 main" src="~/assets/img/product/@item.ProductImages.FirstOrDefault(m=>m.IsMain).Image" alt="">
                                        <img class="w-100 hover d-none" src="~/assets/img/product/@item.ProductImages.FirstOrDefault(m=>m.IsHover)?.Image" alt="">
                                    </div>
                                    @if (@item.Discount.Percent == 0)
                                    {
                                        <span class="percent d-none">-@item.Discount.Percent%</span>
                                    }
                                    else
                                    {
                                        <span class="percent">-@item.Discount.Percent%</span>
                                    }

                                    <div class="product-detail">

                                        <div class="content stars">
                                            @for (int i = 0; i < @item.Rating.RatingCount; i++)
                                            {
                                                <i class="fa-solid fa-star orange"></i>
                                            }
                                            @for (int i = 0; i < (5 - @item.Rating.RatingCount); i++)
                                            {
                                                <i class="fa-solid fa-star"></i>
                                            }
                                        </div>
                                        <div class="content title">
                                            <span>@item.Title</span>
                                        </div>
                                        <div class=" content price">
                                            @if (item.Discount.Percent == 0)
                                            {
                                                <span class="discount d-none">£@item.Price</span>
                                                <span class="actual-price ">£@item.Price</span>
                                            }
                                            else
                                            {
                                                <span class="discount">£@item.Price</span>

                                                <span class="actual-price">£@(item.Price - ((item.Price * item.Discount.Percent) / 100))</span>
                                            }



                                        </div>

                                    </div>

                                    <div class="product-button-outer">
                                          @if (ViewBag.Cookie != null)
                                            {
                                                @foreach (var itemCookie in ViewBag.Cookie)
                                                {
                                                    @if (itemCookie.ProductId == item.Id)
                                                    {
                                                        fc = true;
                                                    }

                                                }

                                            }
                                        <a  class="add-to-wish @((fc)?"checked":"") @(fc = false)" data-id="@item.Id" style="cursor:pointer;">
                                            <i class="fa-solid fa-heart"></i>
                                        </a>

                                        <a id="add-to-cart-sale" data-id="@item.Id" style="cursor:pointer">
                                            <i class="fa-solid fa-cart-arrow-down"></i>
                                        </a>

                                        <a asp-controller="ProductDetail" asp-action="Index" asp-route-id="@item.Id">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>

                                    </div>
                                </div>


                            </div>
                        }

                        </div>
                        <div class="swiper-button-next next-prev"></div>
                          <div class="swiper-button-prev next-prev"></div>

                      </div>
                </div>


            </div>
        </section>

        <section id="blog">
            <div class="container">
                <div class="row">
                        <div class="col-sm-12 col-md-12">
                                <div class="title-center">
                                    <h3>New Game Blogs</h3>
                                </div>
                        </div>


                        <div class="swiper blog">
                            <div class="swiper-wrapper">
                                @foreach (var blog in Model.Blogs)
                        {
                             <div data-aos="fade-right" class="swiper-slide">
                                <div class="card-carousel">
                                    <div class="action-buttons">
                                        <img class="w-100 main" src="~/assets/img/blog/@blog.Image" alt="">

                                    </div>
                                    <div class="post-content-inner">
                                        <div class="post-detail">
                                            <div class="blog-meta">
                                                <div class="show-date">
                                                    <i class="fa @blog.Icon"></i>
                                                    <span>@blog.CreateDate.ToString("MM-dd-yyyy")</span>
                                                </div>
                                            </div>
                                            <div class="blog-title">
                                                <a asp-controller="Blog" asp-action="Index" asp-route-id="@blog.Id"><span>@blog.Title</span></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                              </div>
                        }
                             

                            </div>
                            <div class="swiper-button-next next-prev"></div>
                              <div class="swiper-button-prev next-prev"></div>

                          </div>

                          <div class="col-12 ">
                              <div class="all-blog">
                                <div class="view-all-blogs">
                                    <a asp-controller="Blog" asp-action="Index">
                                        <i class="fa fa-eye"></i>
                                        <span> View All Blogs</span>
                                    </a>
                                </div>

                              </div> 

                          </div>
                </div>
            </div>

        </section>

        <section id="brand">
            <div class="container">
                <div class="row">
                    <div class="swiper brand">
                        <div class="swiper-wrapper">
                            @foreach (var brand in Model.Brands)
                        {
                            <div class="swiper-slide ">
                                <div class="card-carousel">

                                    <img class="w-100 main" src="~/assets/img/brand/@brand.Image" alt="">


                                </div>


                            </div>
                        }
                         


                        </div>
                        <div class="swiper-button-next next-prev"></div>
                          <div class="swiper-button-prev next-prev"></div>

                      </div>
                </div>
            </div>
        </section>

    </main>
