@model DashboardVM
@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa-solid fa-users fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">SuperAdmin</p>
                    <h6 class="mb-0"><i class="fa-solid fa-user"> @ViewBag.superAdminCount</i> </h6>
                </div>
                <div class="ms-3">
                    <p class="mb-2">Admin</p>
                    <h6 class="mb-0"><i class="fa-solid fa-user"> @ViewBag.admin</i> </h6>
                </div>
                <div class="ms-3">
                    <p class="mb-2">Member</p>
                    <h6 class="mb-0"><i class="fa-solid fa-user"> @ViewBag.member</i> </h6>
                </div>
                <div class="ms-3">
                    <p class="mb-2">Total Users</p>
                    <h6 class="mb-0"><i class="fa-solid fa-user"></i> @Model.UserCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa-solid fa-envelope fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Contacts</p>
                    <h6 class="mb-0"><i class="fa-solid fa-envelope-open"></i> @Model.Contacts.Count</h6>
                    
                </div>
                  <div class="ms-3">
                    <p class="mb-2">Latest Created</p>

                    <h6 class="mb-0"><i class="fa-solid fa-clock"></i>  @Model.Contacts.OrderByDescending(m=>m.CreateDate).FirstOrDefault().CreateDate.ToString("dd MMMMM yyyy HH:mm")</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa-solid fa-cubes fa-3x text-primary"></i>
               
                <div class="ms-3">
                    <p class="mb-2">Total Products</p>
                    <h6 class="mb-0"><i class="fa-solid fa-cart-shopping"></i> @Model.ProductCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa-solid fa-tags fa-3x text-primary"></i>

                <div class="ms-3">
                    <p class="mb-2">Total Categories</p>
                    <h6 class="mb-0"><i class="fa-solid fa-tag"></i> @Model.CategoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa-regular fa-bell fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Subscribes</p>
                    <h6 class="mb-0"><i class="fa-solid fa-envelope-open"></i> @Model.Subscribes.Count</h6>

                </div>
                  <div class="ms-3">
                    <p class="mb-2">Latest Created</p>

                    <h6 class="mb-0"><i class="fa-solid fa-clock"></i>  @Model.Subscribes.OrderByDescending(m=>m.CreateDate).FirstOrDefault().CreateDate.ToString("dd MMMMM yyyy HH:mm")</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa-solid fa-comments fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Reviews</p>
                    <h6 class="mb-0"><i class="fa-solid fa-comment"></i> @Model.Reviews.Count</h6>

                </div>
                  <div class="ms-3">
                    <p class="mb-2">Latest Created</p>

                    <h6 class="mb-0"><i class="fa-solid fa-clock"></i>  @Model.Reviews.OrderByDescending(m=>m.CreateDate).FirstOrDefault().CreateDate.ToString("dd MMMMM yyyy HH:mm")</h6>
                </div>
            </div>
        </div>
         <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa-solid fa-heart fa-3x text-primary"></i>
               
                <div class="ms-3">
                    <p class="mb-2">Total Products Favorited</p>
                    <h6 class="mb-0"><i class="fa-solid fa-heart-circle-check"></i> @Model.WishlistCount</h6>
                </div>
            </div>
        </div>
          <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa-solid fa-cart-arrow-down fa-3x text-primary"></i>

                <div class="ms-3">
                    <p class="mb-2">Total Products Added to Cart</p>
                    <h6 class="mb-0"><i class="fa-solid fa-cart-plus"></i> @Model.CartCount</h6>
                </div>
            </div>
        </div>
    </div>
</div>

