@model ProductDetailVM

@{
    ViewData["Title"] = "Index";
    var fc = false;
}

<style>
    .checked {
        color: red !important;
    }
</style>

@section Css {

        <link rel="stylesheet" href="~/assets/scss/pages/product-detail/product-detail.css">
}

<main>
    <section id="page-title">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav>
                        <a href="home.html">Home</a>
                        <span> / ProductDetail</span>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section id="product-detail">
        <div class="container">
            <div class="row">
                <div class="col-5  main">
                    <div class="zoom-container ">
                            
                        <img src="~/assets/img/product/@Model.Images?.FirstOrDefault(m=>m.IsMain)?.Image" alt="" class="xzoom" xoriginal="~/assets/img/product/@Model.Images.Where(m=>m.IsMain).FirstOrDefault()?.Image">

                        <div class="xzoom-thumbs">
                            @foreach (var item in Model.Images)
                            {
                                <a href="~/assets/img/product/@item.Image>
                                    <img class="xzoom-gallery" src="~/assets/img/product/@item.Image" xpreview="~/assets/img/product/@item.Image">
                                </a>
                            }
                          
                        </div>


                    </div>

                </div>
                <div class="col-7">
                    <div class="summary">
                        <h1 class="product-title">BangBangShooting</h1>
                        <p class="price">
                            @if (Model.Percent!=0){
                                <span style="text-decoration: line-through !important; color: #808080;">£</span>

                                <span class="" style="text-decoration: line-through !important; color: #808080;">@Model.ActualPrice</span>
                            }
                           
                            <span>£</span><span class="discount" ">@Model.DiscountPrice</span>
                          </p>
                        <p class="description"> @Model.Description</p>
                        <form action="">
                            <div class="quantity">
                                <span class="template-quantity">Qty: </span>
                                <input type="number" class="qty" value="1" step="1" min="1" size="4" pattern="[0-9]*" inputmode="numeric">
                                <div class="quantity-button">
                                    <button type="button" class="plus incrementDetail"  value="+">
                                        +
                                    </button>
                                    <button type="button" class="minus decrementDetail"  value="-">
                                        -
                                    </button>
                                </div>
                            </div>
                            <button type="button" class="single-add-to-cart"  data-id="@Model.Id">Add to cart</button>
                        </form>

                        <div class="wishlist-content" >
                            @if (ViewBag.Cookie != null)
                            {
                                @foreach (var item in ViewBag.Cookie)
                                {
                                    @if (item.ProductId == Model.Id)
                                    {
                                         fc = true;
                                    }

                                }

                            }
                            <a class=" add-to-wish" @((fc)?"checked":"") @(fc = false) " data-id="@Model.Id" style="cursor:pointer;">
                                <i class="fa fa-heart"></i>
                                <span>Add to wishlist</span>
                            </a>
                        </div>


                        <div class="product-meta">
                            <span class="sku-wrapper">SKU: <span class="sku">@Model.SKU</span></span>
                            <span class="category">
                                Categories:
                                @foreach (var item in Model.ProductCategories)
                                {
                                    <a href=""> @item.Category.Name</a>
                                }
                              
                               
                            </span>

                            <span class="tag">
                                Tags:
                                @foreach (var item in Model.ProductTags)
                                {
                                    <a href="">@item.Tag.Name</a>
                                }
                              
                              
                            </span>
                        </div>
                    </div>
                </div>


                <div class="mobile d-none">
                    <div class="col-12">
                        <div class="zoom-container ">

                            <img src="~/assets/img/product/@Model.Images?.Where(m=>m.IsMain).FirstOrDefault()?.Image" alt="" class="xzoom" xoriginal="~/assets/img/product/@Model.Images.Where(m=>m.IsMain).FirstOrDefault()?.Image">

                            <div class="xzoom-thumbs">


                                    @foreach (var item in Model.Images)
                                    {
                                    <a href="~/assets/img/product/@item.Image">
                                        <img class="xzoom-gallery" src="~/assets/img/product/@item.Image" xpreview="~/assets/img/product/@item.Image">
                                    </a>
                                    }
                            </div>


                        </div>
                    </div>
                    <div class="col-12">
                        <div class="summary">
                            <h1 class="product-title">@Model.Title</h1>
                        @if (Model.Percent != 0)
                        {
                                <span style="text-decoration: line-through !important; color: #808080;">£</span>

                                <span class="" style="text-decoration: line-through !important; color: #808080;">@Model.ActualPrice</span>
                        }

                            <span>£</span><span class="discount" ">@Model.DiscountPrice</span>
                            <p class="description">@Model.Description</p>
                            <form action="">
                                <div class="quantity">
                                    <span class="template-quantity">Qty: </span>
                                    <input type="number" class="qty" value="1" step="1" min="1" size="4" pattern="[0-9]*" inputmode="numeric">
                                    <div class="quantity-button">
                                        <button type="button" class="plus incrementDetail" value="+">
                                            +
                                        </button>
                                        <button type="button" class="minus decrementDetail" value="-">
                                            -
                                        </button>
                                    </div>
                                </div>
                                <button type="submit" class="single-add-to-cart" data-id="@Model.Id">Add to cart</button>
                            </form>

                            <div class="wishlist-content">
                                @if (ViewBag.Cookie != null)
                                {
                                    @foreach (var item in ViewBag.Cookie)
                                    {
                                        @if (item.ProductId == Model.Id)
                                        {
                                        fc = true;
                                        }

                                    }

                                }
                                <a class="add-to-wish" @((fc)?"checked":"") @(fc = false) " data-id="@Model.Id" style="cursor:pointer;">
                                    <i class="fa fa-heart"></i>
                                    <span>Add to wishlist</span>
                                </a>
                            </div>


                            <div class="product-meta">
                                <span class="sku-wrapper">SKU: <span class="sku">@Model.SKU</span></span>
                                <span class="category">
                                    Categories:
                                  
                                    @foreach (var item in Model.ProductCategories)
                                {
                                    <a href=""> @item.Category.Name</a>
                                }
                                </span>

                                <span class="tag">
                                    Tags:
                                    @foreach (var item in Model.ProductTags)
                                    {
                                    <a href="">@item.Tag.Name</a>
                                    }
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <section id="tabs">
        <div class="container">
            <div class="row">
                <div class="tab-menu">
                    <ul>
                        <li><a href="" class="tab active-menu" data-id="1">Description</a></li>
                        <li><a href="" class="tab " data-id="2">Additional Information</a></li>
                        <li><a href="" class="tab" data-id="3">Reviews (0)</a></li>
                    </ul>
                </div>

                <div class="col-12">
                    <div class="description item" data-id="1">
                        <h2>Description</h2>
                        <h5>Paragraph text</h5>
                        <p> @Model.Description</p>
                      
                        <h5>
                          Product Name
                        </h5>
                        <ol>
                            <li>@Model.Name</li>
                           
                        </ol>
                        <p>They are equipped with directional buttons and various buttons, allowing users to move characters and perform actions within the game. Some joysticks also feature vibration feedback to provide a more immersive gaming experience, while others offer analog sticks for more precise control.</p>
                    </div>
                    <div class="information item d-none" data-id="2">
                        <h2>Additional Information</h2>
                        <table>
                            <tbody>
                                <tr>
                                    <th>Brand:</th>
                                    <td>@Model.BrandName</td>
                                </tr>
                                <tr>
                                    <th>Model:</th>
                                    <td>@Model.ModelName</td>
                                </tr>
                                <tr>
                                    <th>Features:</th>
                                    <td>@Model.Feature</td>
                                </tr>
                                <tr>
                                    <th>Weight:</th>
                                    <td>@Model.Weight</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="review item d-none" data-id="3">
                        <div class="tab-pane fade active show" id="tab-reve">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="product-details-frame">
                                        <ul class="review-list">
                                            <li class="review-item">
                                                <div class="review-media">
                                                    <a class="review-avatar" href="#"><img src="~/assets/img/product/1.jpg" alt="review"></a>
                                                    <h5 class="review-meta">
                                                        <a href="#">miron mahmud</a><span>June 02, 2020</span>
                                                    </h5>
                                                </div>
                                                <ul class="review-rating">
                                                    <li class="icofont-ui-rating"> <i class="fa fa-star"></i></li>
                                                    <li class="icofont-ui-rating"> <i class="fa fa-star"></i></li>
                                                    <li class="icofont-ui-rating"> <i class="fa fa-star"></i></li>
                                                    <li class="icofont-ui-rating"> <i class="fa fa-star"></i></li>
                                                    <li class="icofont-ui-rate-blank"> <i class="fa fa-star"></i></li>
                                                </ul>
                                                <p class="review-desc">
                                                    Discover a wide range of features and functionalities in our joysticks, including customizable buttons, ergonomic grips, and adjustable sensitivity settings. Elevate your gaming performance with our top-quality joysticks and unlock your true gaming potential.
                                                </p>
                                              
                                               
                                            </li>
                                            <li class="review-item">
                                                <div class="review-media">
                                                    <a class="review-avatar" href="#"><img src="~/assets/img/category/category-image-01-446x550_t.jpg" alt="review"></a>
                                                    <h5 class="review-meta">
                                                        <a href="#">shipu shikdar</a><span>June 02, 2020</span>
                                                    </h5>
                                                </div>
                                                <ul class="review-rating">
                                                    <li class="icofont-ui-rating"><i class="fa fa-star"></i></li>
                                                    <li class="icofont-ui-rating"><i class="fa fa-star"></i></li>
                                                    <li class="icofont-ui-rating"><i class="fa fa-star"></i></li>
                                                    <li class="icofont-ui-rating"><i class="fa fa-star"></i></li>
                                                    <li class="icofont-ui-rate-blank"><i class="fa fa-star"></i></li>
                                                </ul>
                                                <p class="review-desc">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                    Ducimus hic amet qui velit, molestiae suscipit
                                                    perferendis, autem doloremque blanditiis dolores nulla
                                                    excepturi ea nobis!
                                                </p>
                                               
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-details-frame">
                                        <h3 class="frame-title">add your review</h3>
                                        <form class="review-form">
                                            <div class="row">

                                                <div class="col-lg-12">
                                                    <div class='rating-stars text-center'>
                                                        <ul id='stars'>
                                                            <li class='star' title='Poor' data-value='1'>
                                                                <i class='fa fa-star fa-fw'></i>
                                                            </li>
                                                            <li class='star' title='Fair' data-value='2'>
                                                                <i class='fa fa-star fa-fw'></i>
                                                            </li>
                                                            <li class='star' title='Good' data-value='3'>
                                                                <i class='fa fa-star fa-fw'></i>
                                                            </li>
                                                            <li class='star' title='Excellent' data-value='4'>
                                                                <i class='fa fa-star fa-fw'></i>
                                                            </li>
                                                            <li class='star' title='WOW!!!' data-value='5'>
                                                                <i class='fa fa-star fa-fw'></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="form-group">
                                                        <textarea class="form-control" placeholder="Describe"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" placeholder="Email">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <button class="btn btn-inline">
                                                        <i class="icofont-water-drop"></i><span>drop your review</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="related-products">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-5">Related Products</h2>

                </div>
                <div class="swiper related ">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.Products)
                        {
                            <div class="swiper-slide">
                                <div class="card-carousel">
                                    <div class="action-buttons">
                                        <img class="w-100 main" src="~/assets/img/product/@item.ProductImages.FirstOrDefault(m=>m.IsMain).Image" alt="">
                                        <img class="w-100 hover d-none" src="~/assets/img/product/@item.ProductImages.FirstOrDefault(m=>m.IsHover).Image" alt="">
                                    </div>
                                    @if (item.Discount.Percent != 0)
                                    {
                                        <span class="percent">-@item.Discount.Percent%</span>
                                    }
                                   
                                    <div class="product-detail">

                                        <div class="content stars">
                                            @for (int i = 0; i < item.Rating.RatingCount; i++)
                                            {
                                                <i class="fa-solid fa-star orange"></i>
                                            }
                                            @for (int i = 0; i < (5 - item.Rating.RatingCount); i++)
                                            {
                                                <i class="fa-solid fa-star"></i>
                                            }
                                        </div>
                                        <div class="content title">
                                            <span>The Little Tank Hunter</span>
                                        </div>
                                        <div class=" content price">
                                            <span class="discount">£@item.Price</span>
                                            <span class="actual-price">£@(item.Price-(item.Price*item.Discount.Percent)/100)</span>
                                        </div>

                                    </div>

                                    <div class="product-button-outer">

                                        <a href="wishlist.html">
                                            <i class="fa-solid fa-heart"></i>
                                        </a>

                                        <a href="cart.html">
                                            <i class="fa-solid fa-cart-arrow-down"></i>
                                        </a>

                                        <a asp-controller="ProductDetail" asp-action="Index">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>

                                    </div>
                                </div>


                            </div>
                        }
                      
                      


                    </div>
                    <div class="swiper-button-next next-prev"></div>
                    <div class="swiper-button-prev next-prev"></div>

                </div>
            </div>
        </div>
    </section>
</main>


@section Scripts {
       <script src="~/assets/js/zoom.js"></script>
       <script src="~/assets/js/product-detail.js"></script>
}