@model Paginate<ProductListVM>
@{
    ViewData["Title"] = "Index";
}


<div class="container my-3">
    <h2 class="text-center">Products</h2>
    <div class="create-btn ">
        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("SuperAdmin"))
            {
                <a asp-action="Create" class="btn btn-outline-success ">Create</a>
            }
        }
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Price
                    </th>
                   
                    <th>
                        Weight
                    </th>
                   
                    <th>
                        Model
                    </th>

                    <th>
                        Category
                    </th>

                    <th>
                        Tag
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Datas)
                {
                    <tr>
                        <td class="py-1">
                            <img src="~/assets/img/product/@item.Image" style="width:100px;height:100px" />
                        </td>
                        <td class="py-1">
                            @item.Name
                        </td>
                        <td class="py-1">
                            @item.Title
                        </td>
                        <td class="py-1">
                            @item.Price
                        </td>
                        <td class="py-1">
                            @item.Weight
                        </td>
                        <td class="py-1">
                            @item.Model
                        </td>
                        <td class="py-1">
                            @foreach (var category in item.Categories)
                            {
                                <div>@category.Name</div>
                            }
                        </td>
                         <td class="py-1">
                            @foreach (var tag in item.Tags)
                            {
                                <div>@tag.Name</div>
                            }
                        </td>
                       
                       
                        <td>
                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-outline-info d-block ">Detail</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning  d-block my-2">Edit</a>
                            <form style="display: block;" method="post" asp-action="Delete" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-outline-danger w-100 ">Delete</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="pagination d-flex justify-content-center mt-3">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item @(Model.HasPrevious ? "" : "disabled")">
                        <a class="page-link" asp-route-page="@(Model.CurrentPage - 1)" tabindex="-1">Prev</a>
                    </li>
                    @for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        <li class="page-item @(Model.CurrentPage == i ? "disabled" : "")">
                            <a class="page-link @(Model.CurrentPage == i ? "active-paginate" : "")" asp-route-page="@i">@i</a>
                        </li>
                    }

                    <li class="page-item @(Model.HasNext ? "" : "disabled")">
                        <a class="page-link" asp-route-page="@(Model.CurrentPage + 1)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>



