@model List<WishlistDetailVM>
@{
    ViewData["Title"] = "Index";
    int count = 1;
}

@section Css {

        <link rel="stylesheet" href="~/assets/scss/pages/wishlist/wishlist.css">

        
<style>
    .checked{
        color:red !important;
    }
</style>
}


<main>
    <section id="page-title">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page">
                        <div class="link">
                            <a asp-controller="Home" asp-action="Index">
                                <span>Home</span>
                            </a>
                            <span class="shop"> » Wishlist</span>
                        </div>
                        <div class="title">
                            <h3>Wishlist</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="wishlist">
        <div class="container">
            <div class="row">
                @if (Model.Count > 0)
                {
                    <div class="col-12">

                        <table class="product-table-wishlist">
                            <thead>
                                <tr>
                                    <th>Serial</th>
                                    <th class="product-image">Image</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                   
                                    <th>Action</th>

                                </tr>
                            </thead>

                            <tbody class="tbody-wishlist web">
                                @foreach (var item in Model)
                                {
                                    <tr data-id="@item.Id">
                                        <td class="product-remove">
                                            <span>@count</span>
                                        </td>
                                        <td class="product-image">
                                            <img src="~/assets/img/product/@item.Image" alt="">
                                        </td>
                                        <td class="product-name">
                                            <p>@item.Name</p>
                                        </td>
                                        <td class="product-price">

                                            <span> <span>£</span>@item.Price</span>

                                        </td>

                                        <td class="product-remove">
                                            <a class="delete-wishlist" style="cursor:pointer;">x</a>
                                        </td>

                                    </tr>
                                    count++;
                                }
                               
                            </tbody>
                        </table>


                        <table class="mobile d-none  product-table-wishlist">


                            <tbody class="tbody-wishlist">
                                @foreach (var item in Model)
                                {
                                    <tr data-id="@item.Id" class="product-table mb-3">
                                        <td class="product-remove" data-title="Action">
                                            <a class="delete-wishlist">x</a>
                                        </td>
                                        <td class="product-image" data-title="Image">
                                            <img src="~/assets/img/product/@item.Image" alt="">
                                        </td>
                                        <td class="product-name" data-title="Name">
                                            <p>@item.Name</p>
                                        </td>
                                        <td class="product-price" data-title="Price">

                                            <span>£</span> <span>@item.Price</span>

                                        </td>

                                    </tr>
                                }
                             


                            </tbody>
                        </table>

                    </div>
                }
               
                 <div class="alert  @(Model.Count <= 0 ? "" : "alert-warning d-none")" role="alert" style="background-color:#f9aa01; color:#342c3d;">
                    Wishlist Empty! Please Add product in your wishlist..
                </div>



            </div>
        </div>
        
    </section>
</main>


@section Scripts {

    <script src="~/assets/js/wishlist.js"></script>
}