@model BlogVM
@{
    ViewData["Title"] = "Index";
}


@section Css {
   
    <link rel="stylesheet" href="~/assets/scss/pages/blog/blog.css">
}

<main>
    <section id="page-title">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page">
                        <div class="link">
                            <a href="./home.html">
                                <span>Home</span>
                            </a>
                            <span class="shop"> » Blog</span>
                        </div>
                        <div class="title">
                            <h3>Blog</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    @foreach (var blog in Model.Blogs.Take(5))
                    {
                        <div class="post mb-4">
                            <div class="row">
                                <div class="col-6">

                                    <div class="img">
                                        <img src="~/assets/img/blog/@blog.Image" alt="">
                                        
                                    </div>
                                </div>
                                <div class="col-6 m-auto">
                                    <div class="blog-info">
                                        <div class="blog-icon"></div>
                                        <div class="entry-header">
                                            <h1>
                                               @blog.Title

                                            </h1>
                                        </div>
                                        <div class="other">
                                            <p>@blog.Description </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                 
                   

                </div>
                <div class="col-3">
                    <aside id="search">
                        <form action="" method="get">
                            <input type="text" class="search-field" placeholder="Search">
                            <input type="submit" class="search-submit">
                        </form>
                    </aside>

                    <aside id="popular-blogs">
                        <div class="title-outer">
                            <h3 class="widget-title">Popular Feeds</h3>
                        </div>
                        <ul>
                            @foreach (var item in Model.Blogs.OrderByDescending(m=>m.CreateDate).Take(4))
                            {
                                <li>
                                    <a href="">
                                        <div class="content">
                                            <div class="left">
                                                <img src="~/assets/img/blog/@item.Image" alt="">
                                            </div>
                                            <div class="right">
                                                <div class="title">
                                                    <span>@item.Title</span>
                                                </div>


                                                <div class="amount">
                                                    <i class="fa @item.Icon" aria-hidden="true"></i>
                                                    <span>@item.CreateDate.ToString("MM-dd-yyyy")</span>
                                                </div>
                                            </div>
                                        </div>

                                    </a>
                                </li>
                            }
                           
                          
                        </ul>
                    </aside>

                 

                    <aside id="product-category">
                        <div class="title-outer">
                            <h3 class="widget-title">Product Categories</h3>
                        </div>

                        <ul class="product-categories">
                            @foreach (var item in Model.Categories)
                            {
                                <li><a href="">@item.Name</a></li>
                            }
                           
                         
                        </ul>
                    </aside>


                    <aside id="product-tag">
                        <div class="title-outer">
                            <h3 class="widget-title">Product Tags</h3>
                        </div>
                        <div class="tagcloud">
                            @foreach (var tag in Model.Tags)
                            {
                                <a href="">@tag.Name</a>
                            }
                          
                           
                        </div>
                    </aside>
                </div>
                <div class="mobile d-none">
                    <div class="col-12">
                        <div class="container-fluid">
                            @foreach (var item in Model.Blogs.Take(5))
                            {
                                <div class="post mb-4">
                                    <div class="row">
                                        <div class="col-6">

                                            <div class="img">
                                                <img src="~/assets/img/blog/@item.Image" alt="">

                                            </div>
                                        </div>
                                        <div class="col-6 m-auto">
                                            <div class="blog-info">
                                                <div class="blog-icon"></div>
                                                <div class="entry-header">
                                                    <h1>
                                                       @item.Title

                                                    </h1>
                                                </div>
                                                <div class="other">
                                                    <p>@item.Description </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                           
                          
                        </div>
                        <div class="accordion my-3" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item" style="background-color: #170f1f;">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                        <aside id="product-category">
                                            <div class="title-outer">
                                                <h3 class="widget-title">Search</h3>
                                            </div>
                                        </aside>

                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">

                                        <aside id="search">
                                            <form action="" method="get">
                                                <input type="text" class="search-field" placeholder="Search">
                                                <input type="submit" class="search-submit">
                                            </form>
                                        </aside>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item" style="background-color: #170f1f;">
                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                        <aside id="product-category">
                                            <div class="title-outer">
                                                <h3 class="widget-title">Product Categories</h3>
                                            </div>
                                        </aside>
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                    <div class="accordion-body">
                                        <aside id="product-category">
                                            <ul class="product-categories">
                                                @foreach (var item in Model.Categories)
                                                {
                                                    <li><a href="">@item.Name</a></li>
                                                }
                                            
                                            </ul>
                                        </aside>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item" style="background-color: #170f1f;">
                                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                        <aside id="product-tag">
                                            <div class="title-outer">
                                                <h3 class="widget-title">Product Tags</h3>
                                            </div>
                                        </aside>
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                    <div class="accordion-body">
                                        <aside id="product-tag">
                                            <div class="tagcloud">
                                                @foreach (var item in Model.Tags)
                                                {
                                                    <a href="">@item.Name</a>
                                                }
                                              
                                            </div>
                                        </aside>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item " style="background-color: #170f1f;">
                                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                        <aside id="popular-blogs">
                                            <div class="title-outer">
                                                <h3 class="widget-title">Popular Feeds</h3>
                                            </div>
                                        </aside>
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                                    <div class="accordion-body">
                                        <aside id="popular-blogs">
                                            <ul>
                                                @foreach (var item in Model.Blogs.OrderByDescending(m => m.CreateDate).Take(4))
                                                {
                                                    <li>
                                                        <a href="">
                                                            <div class="content">
                                                                <div class="left">
                                                                    <img src="~/assets/img/blog/@item.Image" alt="">
                                                                </div>
                                                                <div class="right">
                                                                    <div class="title">
                                                                        <span>@item.Title</span>
                                                                    </div>


                                                                    <div class="amount">
                                                                        <i class="fa @item.Icon" aria-hidden="true"></i>
                                                                        <span>@item.CreateDate.ToString("MM-dd-yyyy")</span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </aside>
                                    </div>
                                </div>
                            </div>

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    <script src="~/assets/js/blog.js"></script>
}