@model List<Contact>
@{
    ViewData["Title"] = "Index";
}



<div class="container my-3">
    <h2 class="text-center">Contacts</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Subject
                    </th>
                    <th>
                        Name
                    </th>

                    <th>
                        Email
                    </th>

                    <th>
                        Message
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td class="py-1">
                            @item.Subject
                        </td>

                        <td class="py-1">
                            @item.Name
                        </td>
                        <td class="py-1">
                            @item.Email
                        </td>

                        <td class="py-1">
                            @item.Message
                        </td>


                        <td>

                            <form style="display: inline-block;" method="post" asp-action="Delete" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-outline-danger  ">Delete</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
      
    </div>
</div>

