@model AboutVM
@{
    ViewData["Title"] = "Index";
}

<style>
    
@@media(max-width:575.98px) {

    #team-member .swiper .swiper-slide {
        width: 50% !important;
        margin-right: 15px !important;
    }
}
</style>

@section Css {

    <link rel="stylesheet" href="~/assets/scss/pages/about/about.css">
}

  <main>
        <section id="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page">
                            <div class="link">
                                <a asp-controller="Home" asp-action="Index">
                                    <span>Home</span>
                                </a>
                                <span class="shop"> » About</span>
                            </div>
                            <div class="title">
                                <h3>About</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="about">
            <div class="container" >
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 mb-md-5">

                        <div class="swiper about">
                            <div class="swiper-wrapper">
                                @foreach (var about in Model.Abouts)
                            {
                                <div class="swiper-slide">
                                    <img src="~/assets/img/blog/@about.Image" alt="">
                                </div>
                            }
                            
                              

                            </div>
                            <div class="swiper-pagination"></div>
                          </div>

                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">

                        <div class="about-content">
                            <h3>Why Choose Us ?</h3>
                            <p>Our mission is to provide gamers with easy access to information and entertainment. We aim to guide newcomers in the gaming world, helping them become better players, and keep experienced gamers informed with the latest game news and updates.</p>
                                <div class="text">
                                    @foreach (var item in Model.Abouts)
                                  {

                                    <div class="info">
                                        <i class="fa @item.Icon"></i>
                                        <span>@item.Title</span>
                                    </div>                         
                                  }
                                   
                                </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="history">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3>Codezeel History</h3>
                        <div class="line"></div>
                    </div>
                    @foreach (var item in Model.ServiceIcons.Skip(4))
                {
                    <div class="col-4 my-3">
                        <div class="service-content">
                            <div class="icon">
                                <i class="service-icon fa @item.Icon"></i>
                            </div>
                            <div class="title">
                                <h5>@item.Title</h5>
                            </div>
                            <div class="description">
                                <p>@item.Description</p>
                            </div>

                        </div>
                    </div>
                }
                   
                   
                </div>
            </div>
        </section>

        <section id="team-member">
            <div class="container" style="border-bottom: 1px solid #342c3d !important;">
                <div class="row">
                    <div class="col-12">
                        <h3>Our Team Member</h3>
                        <p class="desc">Meet the many faces that help power the Elegant Themes community</p>
                        <div class="line"></div>
                    </div>


                    <div class="swiper team-member">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model.Testimonials.Skip(3))
                        {
                            <div class="swiper-slide">
                                <div class="card-carousel">
                                    <div class="action-buttons">
                                        <img class="w-100 main" src="~/assets/img/testmonial/@item.Image" alt="">

                                    </div>
                                    <div class="position">
                                        <h4>@item.Name <span>(@item.Position)</span></h4>
                                    </div>
                                    <div class="description">
                                        <p> @item.Description</p>
                                    </div>
                                </div>
                            </div>
                        }
                         
                          
                        </div>
                        <div class="swiper-pagination"></div>
                      </div>
                </div>
            </div>
        </section>


        <section id="brand">
            <div class="container">
                <div class="row">
                    <div class="swiper brand">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model.Brands)
                        {
                               <div class="swiper-slide " >
                            <div class="card-carousel">
                                    <img class="w-100 main" src="~/assets/img/brand/@item.Image" alt="">
                            </div>


                          </div>
                        }
                       
                        </div>
                        <div class="swiper-button-next next-prev"></div>
                          <div class="swiper-button-prev next-prev"></div>

                      </div>
                </div>
            </div>
        </section>
    </main>

@section Scripts {
    <script src="~/assets/js/about.js"></script>
}