@model List<CartDetailVM>
@{
    ViewData["Title"] = "Index";
    decimal grandTotal = 0;
}
   @foreach (var item in Model)
    {
    grandTotal += item.Total;
    }

@section Css {

    <link rel="stylesheet" href="~/assets/scss/pages/cart/cart.css">
}

<main>
    <section id="page-title">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page">
                        <div class="link">
                            <a asp-controller="Home" asp-action="Index">
                                <span>Home</span>
                            </a>
                            <span class="shop"> » Cart</span>
                        </div>
                        <div class="title">
                            <h3>Cart</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="cart">
        <div class="container">
            <div class="row">
                @if (Model.Count > 0)
                {
                    <div class="col-12">


                        <table class="product-table">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th class="product-image">Image</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>

                            <tbody class="tbody-basket">
                                @foreach (var item in Model)
                                {
                                    <tr data-id="@item.Id">
                                        <td class="product-remove">
                                            <a class="delete-product" style="cursor:pointer;">x</a>
                                        </td>
                                        <td class="product-image">
                                            <img src="~/assets/img/product/@item.Image" alt="">
                                        </td>
                                        <td class="product-name">
                                            <p>@item.Name</p>
                                        </td>
                                        <td class="product-price">

                                            <span> <span>£</span> <span class="item-price"> @item.Price.ToString("0.00") </span> </span>

                                        </td>
                                        <td class="product-quantity">
                                            <span>Qty: </span>
                                            <input type="number" class="counter" step="1" min="0" max="1986" value="@item.Count" size="4" pattern="[0-9]*" inputmode="numeric" disabled="">
                                            <div class="quantity-button">
                                                <button type="button" class="plus inc" value="+">+</button>
                                                <button type="button" class="minus dec" value="-">-</button>
                                            </div>
                                        </td>
                                        <td class="product-subtotal">

                                          <span>£</span><span class="total-price">@item.Total.ToString("0.00")</span>

                                        </td>
                                    </tr>
                                }
                           

                            </tbody>
                        </table>


                        <table class="mobile product-table  d-none">


                            <tbody >
                                @foreach (var item in Model)
                                {
                                    <tr class="product-table mb-3" data-id="@item.Id">
                                        <td class="product-remove" data-title="Action">
                                            <a class="delete-product" style="cursor:pointer;">x</a>
                                        </td>
                                        <td class="product-image" data-title="Image">
                                            <img src="~/assets/img/product/@item.Image" alt="">
                                        </td>
                                        <td class="product-name" data-title="Name">
                                            <p>@item.Name</p>
                                        </td>
                                        <td class="product-price" data-title="Price">
                                            <span> <span>£</span><span class="item-price"> @item.Price.ToString("0.00") </span></span>
                                        </td>
                                        <td class="product-quantity" data-title="Quantity">
                                            <span>Qty: </span>
                                            <input type="number" step="1" min="0" max="1986" value="@item.Count" size="4" pattern="[0-9]*" inputmode="numeric" disabled="">
                                            <div class="quantity-button">
                                                <button type="button" class="plus inc" value="+">+</button>
                                                <button type="button" class="minus dec" value="-">-</button>
                                            </div>
                                        </td>
                                        <td class="product-subtotal" data-title="Subtotal">

                                            <span> <span>£</span><span class="total-price">@item.Total.ToString("0.00")</span></span>

                                        </td>

                                    </tr>
                                }

                                <tr class="footer-total">
                                    <td class="product-total" data-title="Total">
                                   @*      @foreach (var item in Model)
                                    {
                                        grandTotal += item.Total;
                                    }*@
                                        <div class="amount"> <span>£</span> <span class="grand-total-mobile">@grandTotal.ToString("0.00")</span></div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                    <div class="col-6"></div>
                    <div class="col-6 footer-total">
                        <table>
                            <tbody>
                                <tr class="total-price">
                                    <th> <div>Total:</div> </th>

                                    <td>  <div class="amount"> <span>£</span><span class="grand-total">@grandTotal.ToString("0.00")</span></div></td>
                                </tr>
                            </tbody>

                        </table>

                    </div>
                }

                <div class="alert  @(Model.Count <= 0 ? "" : "alert-warning d-none")" role="alert" style="background-color:#f9aa01; color:#342c3d;">
                    Basket Empty! Please Add product in your basket..
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {
   
   @* <script src="~/assets/js/cart.js"></script>*@
    <script src="~/assets/js/common.js"></script>
}