@model Paginate<UserVM>
@{
    ViewData["Title"] = "Index";
}



<div class="container my-3">
    <h2 class="text-center">Users</h2>
   
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        FullName
                    </th>

                    <th>
                        Email
                    </th>

                    <th>
                      Role
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Datas)
                {
                    <tr>
                        
                        <td class="py-1">
                            @item.UserName
                        </td>

                        <td class="py-1">
                            @item.FullName
                        </td>
                        <td class="py-1">
                            @item.Email
                        </td>

                        <td class="py-1">
                           @foreach (var role in item.UserRoles)
                            {
                                @role
                            }
                        </td>


                        <td>
                          
                            <form style="display: inline-block;" method="post" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-outline-danger  ">Delete</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="pagination d-flex justify-content-center mt-3">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item @(Model.HasPrevious ? "" : "disabled")">
                        <a class="page-link" asp-route-page="@(Model.CurrentPage - 1)" tabindex="-1">Previous</a>
                    </li>
                    @for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        <li class="page-item @(Model.CurrentPage == i ? "disabled" : "")">
                            <a class="page-link @(Model.CurrentPage == i ? "active-paginate" : "")" asp-route-page="@i">@i</a>
                        </li>
                    }

                    <li class="page-item @(Model.HasNext ? "" : "disabled")">
                        <a class="page-link" asp-route-page="@(Model.CurrentPage + 1)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


